.main-header { 
    width: 100vw;
}

.top-header { 
    position: relative;
    width: 100%;
    background-color: #262729;
    height: 100px;
}

#logo {
    position: absolute;
    top: 25%;
    font-size: 3em;
    color: #f7cd11;
    left: 5%;
    transition: 0.3s;
}

#logo:hover {
    color: #3498eb;
}

.search {
    position: relative;
    width: 50%;
    left: 25%;
    height: 30px;
    top: 35%;
    border-radius: 6px;
}

#search-button {
    position: absolute;
    left: 68%;
    top: 42%;
}

.options {
    position: absolute;
    left: 78%;
    top: 41%;
}

#options-logo { 
    margin-left: 15px;
    font-size: 1em;
    color: #3498eb;
    transition: 0.3s;
}

#options-logo:hover {
    color: #f7cd11;
}

.bottom-header {
    background-color: #f7cd11;
    position: relative;
    width: 100%;
    height: 35px;
    z-index: 3;
}

.lista-bottom-header {
    visibility: hidden;
}

#burger-menu {
    display: flex;
    visibility: visible;
    position: absolute;
    left: 48%;
    font-size: 1.3em;
    color: #262729;
    top: 20%;
}

.burger-nav {
    background-color: #f7cd11;
    display: none;
    transition: all 0.3s ease;
}

.burger-nav.activo {
    display: block;
    transition: all 0.3s ease;
}

.li {
    position: relative;
    padding: 2%;
    text-align: center;
}

.a-li {
    color: #111;
}

@media  (min-width: 1281px){
    .lista-bottom-header {
        visibility: visible;
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        bottom: 20%;
    }
    #burger-menu {
        visibility: hidden;
    }
    .lista-item-header {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.1em;
        margin-top: 8px;
    }
    .lista-item-header-a {
        color: #262729;
        transition: 0.3s;
    }
    .lista-item-header-a:hover {
        color: #1152f7;
    }
    .bottom-header {
        height: 40px;
    }
    .lista-bottom-header > li {
        display: inline-block;
    }
    .submenu-header {
        position: absolute;
        background-color: #f7cd11;
        padding: 10px;
        display: none;
        z-index: 3;
        transition: 0.3s;
    }
    .submenu-header li {
        display: block;
        padding: 15px;
        color: #262729;
        transition: 0.3s;
    }
    .submenu-header li:hover {
        color: #1152f7;
    }
    .lista-item-header:hover .submenu-header {
        display: block;
        transition: 0.3s;
    }
    .search {
        height: 40px;
        top: 30%;
        width: 44%;
        left: 26%;
    }
    #options-logo {
        font-size: 1.3em;
        margin-left: 40px;
    }
    .burger-button {
        visibility: hidden;
    }
    .burger-nav {
        visibility: hidden;
    }
}