<footer class="footer">
    <section class="social-media">
        <i class="fa-brands fa-facebook" id="social-logo"></i>
        <i class="fa-brands fa-instagram" id="social-logo"></i>
        <i class="fa-brands fa-tiktok" id="social-logo"></i>
    </section>
    <section class="info">
        <img src="/img/data-fiscal.png" class="data-fiscal">
        <p class="copy">© 2023 Phone Market, Todos los derechos reservados | Av. Libertador 7800, CABA Buenos Aires,
            Argentina C1428CLA</p>
    </section>
</footer>