<header class="main-header">
    <section class="top-header">
        <a href="#"><i class="fa-solid fa-mobile-screen-button" id="logo"></i></a>
            <input type="text" class="search" placeholder=" Buscar">
            <i class="fa-solid fa-magnifying-glass" id="search-button"></i>
        <div class="options">
            <a href="#" class="user-redirect"><i class="fa-solid fa-user" id="options-logo"></i></a>
            <a href="#" class="cart-redirect"><i class="fa-solid fa-cart-shopping" id="options-logo"></i></a>
        </div>
    </section>
    <section class="bottom-header">
        <ul class="lista-bottom-header">
            <li class="lista-item-header"><a href="#">Todos los celulares</a></li>
            <li class="lista-item-header"><a href="#">iPhones</a</li>
            <li class="lista-item-header"><a href="#">Samsung</a</li>
            <li class="lista-item-header"><a href="#">Motorola</a</li>
            <li class="lista-item-header"><a href="#">Otras marcas</a</li>
        </ul>
    </section>
</header>