<header class="main-header">
    <section class="top-header">
        <a href="/"><i class="fa-solid fa-mobile-screen-button" id="logo"></i></a>
            <input type="text" class="search" placeholder=" Buscar">
            <i class="fa-solid fa-magnifying-glass" id="search-button"></i>
        <div class="options">
            <a href="#" class="user-redirect"><i class="fa-solid fa-user" id="options-logo"></i></a>
            <a href="#" class="cart-redirect"><i class="fa-solid fa-cart-shopping" id="options-logo"></i></a>
        </div>
    </section>
    <section class="bottom-header">
        <i class="fa-solid fa-bars" id="burger-menu"></i>
        <ul class="lista-bottom-header">
            <li class="lista-item-header"><a href="/products/products" class="lista-item-header-a">Todos los celulares</a></li>
            <li class="lista-item-header"><a href="#" class="lista-item-header-a">iPhones</a</li>
                <ul class="submenu-header">
                    <li class="submenu-header-item">iPhone 14 Pro</li>
                    <li class="submenu-header-item">iPhone 14</li>
                    <li class="submenu-header-item">iPhone 13</li>
                    <li class="submenu-header-item">iPhone 12</li>
                    <li class="submenu-header-item">iPhone SE</li>
                    <li class="submenu-header-item">Otros modelos</li>
                </ul>
            <li class="lista-item-header"><a href="#" class="lista-item-header-a">Samsung</a</li>
                <ul class="submenu-header">
                    <li class="submenu-header-item">Galaxy S23 Ultra</li>
                    <li class="submenu-header-item">Galaxy S23</li>
                    <li class="submenu-header-item">Galaxy A54</li>
                    <li class="submenu-header-item">Galaxy A34</li>
                    <li class="submenu-header-item">Galaxy A04</li>
                    <li class="submenu-header-item">Otros modelos</li>
                </ul>
            <li class="lista-item-header"><a href="#" class="lista-item-header-a">Motorola</a</li>
                <ul class="submenu-header">
                    <li class="submenu-header-item">Moto G72</li>
                    <li class="submenu-header-item">Moto Edge 30</li>
                    <li class="submenu-header-item">Moto G82</li>
                    <li class="submenu-header-item">Moto G52</li>
                    <li class="submenu-header-item">Moto G42</li>
                    <li class="submenu-header-item">Otros modelos</li>
                </ul>
            <li class="lista-item-header"><a href="#" class="lista-item-header-a">Adaptadores</a</li>
                <ul class="submenu-header">
                    <li class="submenu-header-item">Cargadores</li>
                    <li class="submenu-header-item">Auriculares</li>
                    <li class="submenu-header-item">Fundas</li>
                    <li class="submenu-header-item">Adaptadores de audio</li>
                    <li class="submenu-header-item">Parlantes</li>
                    <li class="submenu-header-item">Extras</li>
                </ul>
            <li class="lista-item-header"><a href="#" class="lista-item-header-a">Otras marcas</a</li>
        </ul>
    </section>
</header>